<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>

    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: black;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        ::-webkit-scrollbar {
            width: 8px;
            background-color: black;
            border-top: 1px solid orange;
            border-bottom: 1px solid orange;
            border-radius: 7px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: orange;
            border-radius: 7px;
            transition: .5s;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: white;
        }

        .content {
            max-width: 1000px;
            height: 600px;
            border: 1px solid orange;
            border-radius: 7px;
            overflow-y: auto;
            padding: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .form-data-entry {
            display: flex;
            gap: 10px;
        }

        #saveBtn {
            width: 100px;
            background-color: orange;
            color: black;
        }

        #saveBtn:hover {
            background-color: white;
            color: red;
        }

        #editBtn {
            background-color: blue;
            color: white;
            padding: 7px;
        }

        #deleteBtn {
            background-color: red;
            color: white;
            padding: 7px;
        }

        .btn {
            cursor: pointer;
            border: none;
            border-radius: 2px;
            transition: .2s ease-in;
            font-weight: bolder;
        }

        .btn:hover {
            transform: translateY(-2px);
        }

        .btn:active {
            transform: translateY(0);
        }

        #title {
            flex: 1;
        }

        .input {
            border: none;
            background-color: white;
            color: black;
            transition: .2s;
            border-radius: 2px;
            padding: 10px;
            outline: none;
        }

        .input::placeholder {
            color: grey;
        }

        .input:focus {
            border: none !important;
            background-color: orange;
            color: black;
        }

        .list {
            max-width: 680px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        .list-item {
            border: 1px solid grey;
            border-radius: 2px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 30px;
            transition: .2s;
        }

        .list-item .task {
            flex: 1;
        }

        .list-item .btn-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .list-item .task h3 {
            margin: 0;
            color: orangered;
        }

        .list-item .task .taskDescription {
            padding-left: 10px;
            font-size: 14px;
        }

        .list-item .task .showTwoRowDescription {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list-item .task .showAllRowDescription {
            display: block;
            overflow: visible;
            -webkit-line-clamp: unset;
        }

        .toggleButton {
            display: none;
            text-decoration: underline;
            background: transparent;
            color: orange;
            border: none;
            cursor: pointer;
            transition: .2s;
        }

        .toggleButtonVisible {
            display: block;
        }

        .toggleButton:hover {
            color: white;
        }

        .list-item .task h3 span {
            border-bottom: 1px dashed grey;
        }

        .list-item:hover {
            background-color: rgb(71, 71, 71);
        }

        .empty-list {
            
        }
    </style>
</head>

<body>
    <div class="content">

        <form id="form" action="/tasks/postOne" method="post">
            <div class="form-data-entry">
                <input type="text" name="title" id="title" class="input" placeholder="Başlık giriniz..">
                <button id="saveBtn" class="btn">Kaydet</button>
            </div>
            <textarea name="description" id="description" class="input" placeholder="Açıklama giriniz.."
                rows="3"></textarea>
        </form>

        <div class="list">

            <% if (data.length> 0) {

                for (let task of data) { %>

                <div class="list-item">
                    <div class="task">
                        <h3><span><%= task.title %></span></h3>
                        <p class="taskDescription showTwoRowDescription">
                            <%= task.description %>
                        </p>
                        <button class="toggleButton <%= task.description.length > 100 ? 'toggleButtonVisible' : '' %>">
                            Daha Fazla Göster..
                        </button>

                    </div>
                    <div class="btn-group">
                        <button id="editBtn" class="btn">Düzenle</button>
                        <button id="deleteBtn" class="btn">Sil</button>
                    </div>
                </div>



                <% }} else { %>

                    <p class="empty-list">Liste Boş!</p>

                <% } %>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleBtns = document.querySelectorAll(".toggleButtonVisible");

            toggleBtns.forEach(toggleBtn => {
                toggleBtn.addEventListener('click', function () {
                    const parent = this.closest('.task');
                    const taskDescription = parent.querySelector('.taskDescription');

                    if (taskDescription.classList.contains('showTwoRowDescription')) {
                        taskDescription.classList.remove('showTwoRowDescription');
                        taskDescription.classList.add('showAllRowDescription');
                        this.textContent = 'Daha Az Göster';
                    } else {
                        taskDescription.classList.remove('showAllRowDescription');
                        taskDescription.classList.add('showTwoRowDescription');
                        this.textContent = 'Daha Fazla Göster';
                    }

                });
            });
        });
    </script>
</body>

</html>